---
layout: default
---

{% for post in paginator.posts %}
<div class="article">
    <div class="well">
		<div class="row">
			<div class="col-md-1">
				<i class="glyphicon glyphicon-cog lead" aria-hidden="true"></i>
			</div>
			<div class="col-md-8">
				<h1>
					<a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
				</h1>
				<p>
					<i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>Last Update: {{ post.date | date: "%b %-d, %Y" }}
				</p>
				<div class="content">
					<dl class="dl-horizontal">
						<dt>Title</dt>
						<dd>{{ post.title }}</dd>
						<dt>Summary</dt>
						<dd>{{ post.short }}</dd>
						<dt>Author</dt>
						<dd>{{ post.author }}</dd>
						<dt>License</dt>
						<dd>{{ post.author }}</dd>
						<dt>Version</dt>
						<dd>{{ post.version }}</dd>
						{% if post.link %}
						<dt>Link</dt>
						<dd>{{ post.link }}</dd>
						{% endif %}
					</dl>
				</div>
			</div>
			<div class="col-md-3">
				{% if post.image %}
				<div class="media">
					<h1><a class="media-right" href="#">
							<img src="{{ post.image }}" alt="thumbnail">
						</a></h1>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endfor %}

<div class="pagination">
	{% if paginator.previous_page %}
	{% if paginator.previous_page == 1 %}
	<a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Previous</a>
	{% else %}
	<a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Previous</a>
	{% endif %}
	{% endif %}

	<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

	{% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Next</a>
	{% endif %}
</div>